In [25]:
import gls_preprocess_standard_update_v1 as pp
import pandas as pd
import datetime as dt
import time
import datetime

In [35]:
df = pd.read_csv("data/jobTitle_employment.csv")

In [27]:
x = pp.gls_preprocess(df.c_employment_job_start, None,None,None,None,None,None)
result = x.gls_date()

                                            date date_modify_1 date_modify_2
16                                           NaN    wrong_date
202                                          NaN    wrong_date
234                         January 2005 &ndash;    wrong_date
235                          August 1999 &ndash;    wrong_date
237                                 octobre 2011    wrong_date
238                          f&eacute;vrier 2010    wrong_date
239                                 octobre 2007    wrong_date
240                                    juin 2007    wrong_date
241                                novembre 2004    wrong_date
445                                7/1999&ndash;    wrong_date
500                                    2010 - 11    wrong_date
501                                    2004 - 10    wrong_date
502                                    2010 - 11    wrong_date
503                                    2004 - 10    wrong_date
534                                          NaN    wrong_date
541                                          NaN    wrong_date
548                                          NaN    wrong_date
779                         El Paso October 1999    wrong_date
856                                       8 / 94    wrong_date
877                       September 2011 &ndash;    wrong_date
885                                August 2003 -    wrong_date
918                                          NaN    wrong_date
922                                          NaN    wrong_date
926                                          NaN    wrong_date
946                               август 2012 г.    wrong_date
947                                 июль 2011 г.    wrong_date
948                                 июль 2010 г.    wrong_date
1035                                    notKnown    wrong_date
1037                                    notKnown    wrong_date
1084                       December 2007 &ndash;    wrong_date
1085                       February 2005 &ndash;    wrong_date
1117                           July 2010 &ndash;    wrong_date
1118                          March 2009 &ndash;    wrong_date
1226                                 July 2010 -    wrong_date
1227                               August 2007 -    wrong_date
1244                             February 2008 -    wrong_date
1245                             February 2006 -    wrong_date
1253                                         NaN    wrong_date
1640                                      008-06    wrong_date
1658                                         NaN    wrong_date
1858                                   no2010-05    wrong_date
1860                                         NaN    wrong_date
1926                          April 2005 &ndash;    wrong_date
1953                        January 2011 &ndash;    wrong_date
2021                         August 2006 &ndash;    wrong_date
2023                          March 1999 &ndash;    wrong_date
2025                          March 2004 &ndash;    wrong_date
2026                          March 2002 &ndash;    wrong_date
2121                            May 2011 &ndash;    wrong_date
2122                           July 2009 &ndash;    wrong_date
2325                                    notKnown    wrong_date
2679                                1999 &ndash;    wrong_date
2680                                1996 &ndash;    wrong_date
2690                            May 2006 &ndash;    wrong_date
2691                           June 2003 &ndash;    wrong_date
2693                       November 1999 &ndash;    wrong_date
2730                                         NaN    wrong_date
2868                            May 2011 &ndash;    wrong_date
2870                       December 2002 &ndash;    wrong_date
2946                                    2002-03-    wrong_date
2949                                    2002-03-    wrong_date
2975                         August 2007 &ndash;    wrong_date
2976                        January 2001 &ndash;    wrong_date
2977                       February 1997 &ndash;    wrong_date
2978                        October 1994 &ndash;    wrong_date
3059                        January 2005 &ndash;    wrong_date
3101                                         NaN    wrong_date
3102                                         NaN    wrong_date
3103                                         NaN    wrong_date
3104                                         NaN    wrong_date
3106    Privately Held; 1001-5000 employees; Hos    wrong_date
3111                                  Jan 2005 -    wrong_date
3112                                  Jul 2005 -    wrong_date
3114                                   Jun 2001-    wrong_date
3234                                    2008-010    wrong_date
3242                                . March 2007    wrong_date
3384                             December 2011 -    wrong_date
3388                                         NaN    wrong_date
3599                                         NaN    wrong_date
3672                           July 2009 &ndash;    wrong_date
3673                           July 2005 &ndash;    wrong_date
3674                           July 2003 &ndash;    wrong_date
3696                                         NaN    wrong_date
3698                        January 2008 &ndash;    wrong_date
3700                         August 2000 &ndash;    wrong_date
3868                        October 2003 &ndash;    wrong_date
3870                           June 2000 &ndash;    wrong_date
3876                         August 2005 &ndash;    wrong_date
3877                         August 2004 &ndash;    wrong_date
3892                          April 2011 &ndash;    wrong_date
3893                           July 2010 &ndash;    wrong_date
3922                                         NaN    wrong_date
3946                                2004 &ndash;    wrong_date
3950                       November 2006 &ndash;    wrong_date
3952                        January 1999 &ndash;    wrong_date
3954                        January 1996 &ndash;    wrong_date
3961                                   Currently    wrong_date
3965                                      1997 -    wrong_date
3972                                2005 &ndash;    wrong_date
3973                                2006 &ndash;    wrong_date
4025                         August 2011 &ndash;    wrong_date
4026                          March 2009 &ndash;    wrong_date
4027                          March 2007 &ndash;    wrong_date
4029                                2000 &ndash;    wrong_date
4032                         August 2011 &ndash;    wrong_date
4033                          March 2009 &ndash;    wrong_date
4034                          March 2007 &ndash;    wrong_date
4036                                2000 &ndash;    wrong_date
4113                      September 2004 &ndash;    wrong_date
4146                          March 1988 &ndash;    wrong_date
4158                                   Nov. 2007    wrong_date
4159                                   Nov. 2008    wrong_date
4160                                   Oct. 2005    wrong_date
4161                                   Feb. 2005    wrong_date
4162                                   Jan. 2004    wrong_date
4266                                    notKnown    wrong_date
4269                                    notKnown    wrong_date
4526                                April 2000 q    wrong_date
4529                                April 2000 q    wrong_date
4532                                April 2000 q    wrong_date
4535                                April 2000 q    wrong_date
4626                        October 2006 &ndash;    wrong_date
4787                                     unknown    wrong_date
4830                                         NaN    wrong_date
4831                                         NaN    wrong_date
4832                                         NaN    wrong_date
4852                          March 2010 &ndash;    wrong_date
4894                                Scrum Master    wrong_date
4977                                     Nov. 04    wrong_date
4979                                     Dec. 02    wrong_date
4981                                         NaN    wrong_date
5061                                         NaN    wrong_date
5118                       December 2009 &ndash;    wrong_date
5119                        January 2002 &ndash;    wrong_date
5148                                1986 &ndash;    wrong_date
5296                                    22004-05    wrong_date
5316                                         NaN    wrong_date
5344                                       2012-    wrong_date
5350                                       1997-    wrong_date
5374                                    notKnown    wrong_date
5761                           July 2010 &ndash;    wrong_date
5777                          April 2011 &ndash;    wrong_date
5778                        October 2008 &ndash;    wrong_date
5779                       February 2008 &ndash;    wrong_date
5780                        January 2006 &ndash;    wrong_date
5781                          March 2004 &ndash;    wrong_date
5782                          April 2011 &ndash;    wrong_date
5783                        October 2008 &ndash;    wrong_date
5784                       February 2008 &ndash;    wrong_date
5785                        January 2006 &ndash;    wrong_date
5786                          March 2004 &ndash;    wrong_date
5797                        October 2005 &ndash;    wrong_date
5942                                         NaN    wrong_date
6095                       February 2008 &ndash;    wrong_date
6105                                   Currently    wrong_date
6278                                  Sept. 2005    wrong_date
6279                                August  2001    wrong_date
6460                                   Currently    wrong_date
6482                                   Currently    wrong_date
6591                          April 2008 &ndash;    wrong_date
6638                                March 2009 -    wrong_date
6639                               August 2007 -    wrong_date
6640                            September 2005 -    wrong_date
6694                                 April, 2009    wrong_date
6695                             September, 2005    wrong_date
6696                                 March, 2001    wrong_date
6697                                  June, 2000    wrong_date
6698                                  Sept, 1997    wrong_date
6702                               August 2010 -    wrong_date
6705                                April 2008 -    wrong_date
6709                               August 2010 -    wrong_date
6712                                April 2008 -    wrong_date
6768                                   Currently    wrong_date
6794                                 June 2009 -    wrong_date
6808                              October 2005 -    wrong_date
6823                                 July 2010 -    wrong_date
6824                                 July 2008 -    wrong_date
6829                                  May 2010 -    wrong_date
6831                 January 2007 - October 2009    wrong_date
6832                            September 2004 -    wrong_date
6855                           June 2009 &ndash;    wrong_date
7103                                         NaN    wrong_date
7294                          April 2005 &ndash;    wrong_date
7388                                         NaN    wrong_date
7482                                    notKnown    wrong_date
7602                                    notKnown    wrong_date
7603                                    notKnown    wrong_date
7691                       December 2011 &ndash;    wrong_date
7693                                      2008 -    wrong_date
7694                                      2004 -    wrong_date
7782                                         NaN    wrong_date
7807                           June 2007 &ndash;    wrong_date
7971                                    notKnown    wrong_date
8023                                         NaN    wrong_date
8097                       February 2005 &ndash;    wrong_date
8139                           June 2009 &ndash;    wrong_date
8327                                         NaN    wrong_date
8356                       February 2010 &ndash;    wrong_date
8727                                   Mar. 2006    wrong_date
8829                                    notKnown    wrong_date
8831                                    notKnown    wrong_date
8833                                    notKnown    wrong_date
8835                                    notKnown    wrong_date
8837                                    notKnown    wrong_date
8887                       December 2006 &ndash;    wrong_date
9010                              septembre 2008    wrong_date
9011                         f&eacute;vrier 2008    wrong_date
9012                                   mars 2007    wrong_date
9013                                janvier 2005    wrong_date
9079                                   Apri 2011    wrong_date
9093                                         NaN    wrong_date
9096                                         NaN    wrong_date
9164                        January 2010 &ndash;    wrong_date
9167                        January 2010 &ndash;    wrong_date
9306                        January 2010 &ndash;    wrong_date
9308                           July 2002 &ndash;    wrong_date
9309                      September 1993 &ndash;    wrong_date
9314                                      199709    wrong_date
9386                           June 2011 &ndash;    wrong_date
9438                                confidential    wrong_date
9546                                    2011--01    wrong_date
9557                                   Currently    wrong_date
9558                                   Currently    wrong_date
9559                                   Currently    wrong_date
9560                                   Currently    wrong_date
9566                                   Currently    wrong_date
9575                                   Currently    wrong_date
9584                                   Currently    wrong_date
9585                                   Currently    wrong_date
9586                                   Currently    wrong_date
9592                                   Currently    wrong_date
9792    Privately Held; 201-500 employees; Inter    wrong_date
9793                       November 2010 &ndash;    wrong_date
9794                                2009 &ndash;    wrong_date
10013                                   2005/10-    wrong_date
10022                                    Jan2007    wrong_date
10024                                    Dec2004    wrong_date
10026                                    Nov2000    wrong_date
10179                                        NaN    wrong_date
10189                                        NaN    wrong_date
10195                                        NaN    wrong_date
10344                        August 2008 &ndash;    wrong_date
10444                       January 2006 &ndash;    wrong_date
10491                                        NaN    wrong_date
10634                                        NaN    wrong_date
10827                       October 2007 &ndash;    wrong_date
10830                       October 2007 &ndash;    wrong_date
10843                                        Jan    wrong_date
11297                                        NaN    wrong_date
11414                         March 2008 &ndash;    wrong_date
11493                               1998 &ndash;    wrong_date
11596                        August 2004 &ndash;    wrong_date
11599                                   20012-08    wrong_date
11645                                   notKnown    wrong_date
11652                          july 2010 &ndash;    wrong_date
11695                                        NaN    wrong_date
11894                                        NaN    wrong_date
11941                                   Ifigenia    wrong_date
11947                                   Ifigenia    wrong_date
11953                                   Ifigenia    wrong_date
11959                                   Ifigenia    wrong_date
12106                                   notKnown    wrong_date
12370                                  2010-2012    wrong_date
12622                                    Apr2002    wrong_date
12672                     September 2008 &ndash;    wrong_date
12723                                     Oracle    wrong_date
12823                          June 2008 &ndash;    wrong_date
12824                       October 2007 &ndash;    wrong_date
12825                          June 2007 &ndash;    wrong_date
12826                           Nov 2006 &ndash;    wrong_date
12827                           May 2006 &ndash;    wrong_date
12828                           Feb 2006 &ndash;    wrong_date
12829                           Aug 2005 &ndash;    wrong_date
12830                           Feb 2005 &ndash;    wrong_date
12940                          June 2006 &ndash;    wrong_date
12944                          June 2006 &ndash;    wrong_date
13046                             Citrix Systems    wrong_date
13048                      November 2006 &ndash;    wrong_date
13054                       January 2003 &ndash;    wrong_date
13080                          July 2004 &ndash;    wrong_date
13086                                    Gridsum    wrong_date
13087                         April 2010 &ndash;    wrong_date
13092                      February 2008 &ndash;    wrong_date
13093                       January 2004 &ndash;    wrong_date
13096                       October 2010 &ndash;    wrong_date
13130                          June 2010 &ndash;    wrong_date
13147                          June 2009 &ndash;    wrong_date
13148                       October 2008 &ndash;    wrong_date
13149                          July 2008 &ndash;    wrong_date
13159                                        NaN    wrong_date
13259                                  Nov. 2007    wrong_date
13262                             February, 2000    wrong_date
13263                            September, 1996    wrong_date
13265                                  Nov. 2007    wrong_date
13268                             February, 2000    wrong_date
13269                            September, 1996    wrong_date
13317                     September 2000 &ndash;    wrong_date
13334                      September 1998&ndash;    wrong_date
13422                                        NaN    wrong_date
13427                                        NaN    wrong_date
13476                                   notKnown    wrong_date
13567                                        NaN    wrong_date
13658                                     1998 -    wrong_date
13714                      November 2001 &ndash;    wrong_date
13766                                        NaN    wrong_date
13840                                        NaN    wrong_date
13994                      November 2010 &ndash;    wrong_date
14033                                        NaN    wrong_date
14261                                        NaN    wrong_date
14265                              Oct ober 2009    wrong_date
14450                             Aug&#039; 2005    wrong_date
14451                               Jun&rsquo;97    wrong_date
14465                          June 1998 &ndash;    wrong_date
14474                       October 2010 &ndash;    wrong_date
14478                      November 2004 &ndash;    wrong_date
14479                         2003-November 2003    wrong_date

In [28]:
x = pp.gls_preprocess(df.c_employment_job_end, None,None,None,None,None,None)
result_2 = x.gls_date()

In [29]:
frames = [result, result_2]
final_result = pd.concat(frames)

In [30]:
final_result.to_csv('clean_date_result.csv')

In [32]:
len(final_result)

400000

In [33]:
len(final_result[final_result.date_modify_1 == 'wrong_date'])

5949

In [24]:
pd.set_option('display.max_rows', len(df))
print(final_result[final_result.date_modify_1 == 'wrong_date'])

                                            date date_modify_1 date_modify_2
16                                           NaN    wrong_date
202                                          NaN    wrong_date
234                         January 2005 &ndash;    wrong_date
235                          August 1999 &ndash;    wrong_date
237                                 octobre 2011    wrong_date
238                          f&eacute;vrier 2010    wrong_date
239                                 octobre 2007    wrong_date
240                                    juin 2007    wrong_date
241                                novembre 2004    wrong_date
445                                7/1999&ndash;    wrong_date
500                                    2010 - 11    wrong_date
501                                    2004 - 10    wrong_date
502                                    2010 - 11    wrong_date
503                                    2004 - 10    wrong_date
534                                          NaN    wrong_date
541                                          NaN    wrong_date
548                                          NaN    wrong_date
779                         El Paso October 1999    wrong_date
856                                       8 / 94    wrong_date
877                       September 2011 &ndash;    wrong_date
885                                August 2003 -    wrong_date
918                                          NaN    wrong_date
922                                          NaN    wrong_date
926                                          NaN    wrong_date
946                               август 2012 г.    wrong_date
947                                 июль 2011 г.    wrong_date
948                                 июль 2010 г.    wrong_date
1035                                    notKnown    wrong_date
1037                                    notKnown    wrong_date
1084                       December 2007 &ndash;    wrong_date
1085                       February 2005 &ndash;    wrong_date
1117                           July 2010 &ndash;    wrong_date
1118                          March 2009 &ndash;    wrong_date
1226                                 July 2010 -    wrong_date
1227                               August 2007 -    wrong_date
1244                             February 2008 -    wrong_date
1245                             February 2006 -    wrong_date
1253                                         NaN    wrong_date
1640                                      008-06    wrong_date
1658                                         NaN    wrong_date
1858                                   no2010-05    wrong_date
1860                                         NaN    wrong_date
1926                          April 2005 &ndash;    wrong_date
1953                        January 2011 &ndash;    wrong_date
2021                         August 2006 &ndash;    wrong_date
2023                          March 1999 &ndash;    wrong_date
2025                          March 2004 &ndash;    wrong_date
2026                          March 2002 &ndash;    wrong_date
2121                            May 2011 &ndash;    wrong_date
2122                           July 2009 &ndash;    wrong_date
2325                                    notKnown    wrong_date
2679                                1999 &ndash;    wrong_date
2680                                1996 &ndash;    wrong_date
2690                            May 2006 &ndash;    wrong_date
2691                           June 2003 &ndash;    wrong_date
2693                       November 1999 &ndash;    wrong_date
2730                                         NaN    wrong_date
2868                            May 2011 &ndash;    wrong_date
2870                       December 2002 &ndash;    wrong_date
2946                                    2002-03-    wrong_date
2949                                    2002-03-    wrong_date
2975                         August 2007 &ndash;    wrong_date
2976                        January 2001 &ndash;    wrong_date
2977                       February 1997 &ndash;    wrong_date
2978                        October 1994 &ndash;    wrong_date
3059                        January 2005 &ndash;    wrong_date
3101                                         NaN    wrong_date
3102                                         NaN    wrong_date
3103                                         NaN    wrong_date
3104                                         NaN    wrong_date
3106    Privately Held; 1001-5000 employees; Hos    wrong_date
3111                                  Jan 2005 -    wrong_date
3112                                  Jul 2005 -    wrong_date
3114                                   Jun 2001-    wrong_date
3234                                    2008-010    wrong_date
3242                                . March 2007    wrong_date
3384                             December 2011 -    wrong_date
3388                                         NaN    wrong_date
3599                                         NaN    wrong_date
3672                           July 2009 &ndash;    wrong_date
3673                           July 2005 &ndash;    wrong_date
3674                           July 2003 &ndash;    wrong_date
3696                                         NaN    wrong_date
3698                        January 2008 &ndash;    wrong_date
3700                         August 2000 &ndash;    wrong_date
3868                        October 2003 &ndash;    wrong_date
3870                           June 2000 &ndash;    wrong_date
3876                         August 2005 &ndash;    wrong_date
3877                         August 2004 &ndash;    wrong_date
3892                          April 2011 &ndash;    wrong_date
3893                           July 2010 &ndash;    wrong_date
3922                                         NaN    wrong_date
3946                                2004 &ndash;    wrong_date
3950                       November 2006 &ndash;    wrong_date
3952                        January 1999 &ndash;    wrong_date
3954                        January 1996 &ndash;    wrong_date
3961                                   Currently    wrong_date
3965                                      1997 -    wrong_date
3972                                2005 &ndash;    wrong_date
3973                                2006 &ndash;    wrong_date
4025                         August 2011 &ndash;    wrong_date
4026                          March 2009 &ndash;    wrong_date
4027                          March 2007 &ndash;    wrong_date
4029                                2000 &ndash;    wrong_date
4032                         August 2011 &ndash;    wrong_date
4033                          March 2009 &ndash;    wrong_date
4034                          March 2007 &ndash;    wrong_date
4036                                2000 &ndash;    wrong_date
4113                      September 2004 &ndash;    wrong_date
4146                          March 1988 &ndash;    wrong_date
4158                                   Nov. 2007    wrong_date
4159                                   Nov. 2008    wrong_date
4160                                   Oct. 2005    wrong_date
4161                                   Feb. 2005    wrong_date
4162                                   Jan. 2004    wrong_date
4266                                    notKnown    wrong_date
4269                                    notKnown    wrong_date
4526                                April 2000 q    wrong_date
4529                                April 2000 q    wrong_date
4532                                April 2000 q    wrong_date
4535                                April 2000 q    wrong_date
4626                        October 2006 &ndash;    wrong_date
4787                                     unknown    wrong_date
4830                                         NaN    wrong_date
4831                                         NaN    wrong_date
4832                                         NaN    wrong_date
4852                          March 2010 &ndash;    wrong_date
4894                                Scrum Master    wrong_date
4977                                     Nov. 04    wrong_date
4979                                     Dec. 02    wrong_date
4981                                         NaN    wrong_date
5061                                         NaN    wrong_date
5118                       December 2009 &ndash;    wrong_date
5119                        January 2002 &ndash;    wrong_date
5148                                1986 &ndash;    wrong_date
5296                                    22004-05    wrong_date
5316                                         NaN    wrong_date
5344                                       2012-    wrong_date
5350                                       1997-    wrong_date
5374                                    notKnown    wrong_date
5761                           July 2010 &ndash;    wrong_date
5777                          April 2011 &ndash;    wrong_date
5778                        October 2008 &ndash;    wrong_date
5779                       February 2008 &ndash;    wrong_date
5780                        January 2006 &ndash;    wrong_date
5781                          March 2004 &ndash;    wrong_date
5782                          April 2011 &ndash;    wrong_date
5783                        October 2008 &ndash;    wrong_date
5784                       February 2008 &ndash;    wrong_date
5785                        January 2006 &ndash;    wrong_date
5786                          March 2004 &ndash;    wrong_date
5797                        October 2005 &ndash;    wrong_date
5942                                         NaN    wrong_date
6095                       February 2008 &ndash;    wrong_date
6105                                   Currently    wrong_date
6278                                  Sept. 2005    wrong_date
6279                                August  2001    wrong_date
6460                                   Currently    wrong_date
6482                                   Currently    wrong_date
6591                          April 2008 &ndash;    wrong_date
6638                                March 2009 -    wrong_date
6639                               August 2007 -    wrong_date
6640                            September 2005 -    wrong_date
6694                                 April, 2009    wrong_date
6695                             September, 2005    wrong_date
6696                                 March, 2001    wrong_date
6697                                  June, 2000    wrong_date
6698                                  Sept, 1997    wrong_date
6702                               August 2010 -    wrong_date
6705                                April 2008 -    wrong_date
6709                               August 2010 -    wrong_date
6712                                April 2008 -    wrong_date
6768                                   Currently    wrong_date
6794                                 June 2009 -    wrong_date
6808                              October 2005 -    wrong_date
6823                                 July 2010 -    wrong_date
6824                                 July 2008 -    wrong_date
6829                                  May 2010 -    wrong_date
6831                 January 2007 - October 2009    wrong_date
6832                            September 2004 -    wrong_date
6855                           June 2009 &ndash;    wrong_date
7103                                         NaN    wrong_date
7294                          April 2005 &ndash;    wrong_date
7388                                         NaN    wrong_date
7482                                    notKnown    wrong_date
7602                                    notKnown    wrong_date
7603                                    notKnown    wrong_date
7691                       December 2011 &ndash;    wrong_date
7693                                      2008 -    wrong_date
7694                                      2004 -    wrong_date
7782                                         NaN    wrong_date
7807                           June 2007 &ndash;    wrong_date
7971                                    notKnown    wrong_date
8023                                         NaN    wrong_date
8097                       February 2005 &ndash;    wrong_date
8139                           June 2009 &ndash;    wrong_date
8327                                         NaN    wrong_date
8356                       February 2010 &ndash;    wrong_date
8727                                   Mar. 2006    wrong_date
8829                                    notKnown    wrong_date
8831                                    notKnown    wrong_date
8833                                    notKnown    wrong_date
8835                                    notKnown    wrong_date
8837                                    notKnown    wrong_date
8887                       December 2006 &ndash;    wrong_date
9010                              septembre 2008    wrong_date
9011                         f&eacute;vrier 2008    wrong_date
9012                                   mars 2007    wrong_date
9013                                janvier 2005    wrong_date
9079                                   Apri 2011    wrong_date
9093                                         NaN    wrong_date
9096                                         NaN    wrong_date
9164                        January 2010 &ndash;    wrong_date
9167                        January 2010 &ndash;    wrong_date
9306                        January 2010 &ndash;    wrong_date
9308                           July 2002 &ndash;    wrong_date
9309                      September 1993 &ndash;    wrong_date
9314                                      199709    wrong_date
9386                           June 2011 &ndash;    wrong_date
9438                                confidential    wrong_date
9546                                    2011--01    wrong_date
9557                                   Currently    wrong_date
9558                                   Currently    wrong_date
9559                                   Currently    wrong_date
9560                                   Currently    wrong_date
9566                                   Currently    wrong_date
9575                                   Currently    wrong_date
9584                                   Currently    wrong_date
9585                                   Currently    wrong_date
9586                                   Currently    wrong_date
9592                                   Currently    wrong_date
9792    Privately Held; 201-500 employees; Inter    wrong_date
9793                       November 2010 &ndash;    wrong_date
9794                                2009 &ndash;    wrong_date
10013                                   2005/10-    wrong_date
10022                                    Jan2007    wrong_date
10024                                    Dec2004    wrong_date
10026                                    Nov2000    wrong_date
10179                                        NaN    wrong_date
10189                                        NaN    wrong_date
10195                                        NaN    wrong_date
10344                        August 2008 &ndash;    wrong_date
10444                       January 2006 &ndash;    wrong_date
10491                                        NaN    wrong_date
10634                                        NaN    wrong_date
10827                       October 2007 &ndash;    wrong_date
10830                       October 2007 &ndash;    wrong_date
10843                                        Jan    wrong_date
11297                                        NaN    wrong_date
11414                         March 2008 &ndash;    wrong_date
11493                               1998 &ndash;    wrong_date
11596                        August 2004 &ndash;    wrong_date
11599                                   20012-08    wrong_date
11645                                   notKnown    wrong_date
11652                          july 2010 &ndash;    wrong_date
11695                                        NaN    wrong_date
11894                                        NaN    wrong_date
11941                                   Ifigenia    wrong_date
11947                                   Ifigenia    wrong_date
11953                                   Ifigenia    wrong_date
11959                                   Ifigenia    wrong_date
12106                                   notKnown    wrong_date
12370                                  2010-2012    wrong_date
12622                                    Apr2002    wrong_date
12672                     September 2008 &ndash;    wrong_date
12723                                     Oracle    wrong_date
12823                          June 2008 &ndash;    wrong_date
12824                       October 2007 &ndash;    wrong_date
12825                          June 2007 &ndash;    wrong_date
12826                           Nov 2006 &ndash;    wrong_date
12827                           May 2006 &ndash;    wrong_date
12828                           Feb 2006 &ndash;    wrong_date
12829                           Aug 2005 &ndash;    wrong_date
12830                           Feb 2005 &ndash;    wrong_date
12940                          June 2006 &ndash;    wrong_date
12944                          June 2006 &ndash;    wrong_date
13046                             Citrix Systems    wrong_date
13048                      November 2006 &ndash;    wrong_date
13054                       January 2003 &ndash;    wrong_date
13080                          July 2004 &ndash;    wrong_date
13086                                    Gridsum    wrong_date
13087                         April 2010 &ndash;    wrong_date
13092                      February 2008 &ndash;    wrong_date
13093                       January 2004 &ndash;    wrong_date
13096                       October 2010 &ndash;    wrong_date
13130                          June 2010 &ndash;    wrong_date
13147                          June 2009 &ndash;    wrong_date
13148                       October 2008 &ndash;    wrong_date
13149                          July 2008 &ndash;    wrong_date
13159                                        NaN    wrong_date
13259                                  Nov. 2007    wrong_date
13262                             February, 2000    wrong_date
13263                            September, 1996    wrong_date
13265                                  Nov. 2007    wrong_date
13268                             February, 2000    wrong_date
13269                            September, 1996    wrong_date
13317                     September 2000 &ndash;    wrong_date
13334                      September 1998&ndash;    wrong_date
13422                                        NaN    wrong_date
13427                                        NaN    wrong_date
13476                                   notKnown    wrong_date
13567                                        NaN    wrong_date
13658                                     1998 -    wrong_date
13714                      November 2001 &ndash;    wrong_date
13766                                        NaN    wrong_date
13840                                        NaN    wrong_date
13994                      November 2010 &ndash;    wrong_date
14033                                        NaN    wrong_date
14261                                        NaN    wrong_date
14265                              Oct ober 2009    wrong_date
14450                             Aug&#039; 2005    wrong_date
14451                               Jun&rsquo;97    wrong_date
14465                          June 1998 &ndash;    wrong_date
14474                       October 2010 &ndash;    wrong_date
14478                      November 2004 &ndash;    wrong_date
14479                         2003-November 2003    wrong_date